<div id="dashboard_carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#dashboard_carousel" data-slide-to="0" class="active bg-dark"></li>
    <li data-target="#dashboard_carousel" data-slide-to="1" class="bg-dark"></li>
    <li data-target="#dashboard_carousel" data-slide-to="2" class="bg-dark"></li>
  </ol>
  <div class="p-5 carousel-inner">
    <div class="carousel-item active">
      <img class="mx-auto d-block" src="assets/dash-slide-1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="mx-auto d-block" src="assets/dash-slide-2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="mx-auto d-block" src="assets/dash-slide-3.jpg" alt="Third slide">
    </div>
  </div>
</div>