<div class="row my-4">
  <div class="col-2 offset-2 text-center">
    <a routerLink="dashboard" class="btn btn-outline-info btn-block text-primary
    font-weight-bold border-primary rounded-pill shadow"> Dashboard </a>
  </div>
  <div class="col-2 text-center">
    <a routerLink="land-registration" class="btn btn-outline-info btn-block text-primary
    font-weight-bold border-primary rounded-pill shadow"> Land Registration </a>
  </div>
  <div class="col-2 text-center">
    <a routerLink="land-records" class="btn btn-outline-info btn-block text-primary
    font-weight-bold border-primary rounded-pill shadow"> Land Records </a>
  </div>
  <div class="col-2 text-center">
    <a routerLink="support-facilities" class="btn btn-outline-info btn-block text-primary
    font-weight-bold border-primary rounded-pill shadow"> Support Facilities </a>
  </div>
</div>
