<div class="row my-4">
  <div class="col-2 offset-2 text-center">
    <button class="btn btn-outline-secondary btn-round "> Link 01 </button>
  </div>
  <div class="col-2 text-center">
    <button class="btn btn-outline-secondary btn-round "> Link 02 </button>
  </div>
  <div class="col-2 text-center">
    <button class="btn btn-outline-secondary btn-round "> Link 03 </button>
  </div>
  <div class="col-2 text-center">
    <button class="btn btn-outline-secondary btn-round "> Link 04 </button>
  </div>
</div>
