<!-- header section -->
<h4 class="row card-header text-white bg-secondary brd-bottom">
  Land Registration - {{this.lrService.getCurrentStep().title}}
</h4>

<!-- body section -->
<div class="row card-body brd-bottom">
  <div class="col">
    <div class="row">
      <div class="progress w-100 mb-4">
        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="stepPercentage"
             aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" ></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- footer section -->
<div class="row card-footer">
  <div class="col-2 offset-6">
    <button class="btn btn-dark btn-block" (click)="cancelProcess()">Cancel</button>
  </div>
  <div class="col-2">
    <button class="btn btn-primary btn-block" (click)="goBack()">Back</button>
  </div>
  <div class="col-2">
    <button class="btn btn-success btn-block" (click)="onSubmit()">{{submitBtnTitle}}</button>
  </div>
</div>